In [3]:
import pandas as pd
import numpy as np

In [6]:
div = pd.read_csv('div.csv')
div.head(10)
div['classificated']=np.where(div[''])

,ID,Station Name,Total Docks,Docks in Service,Status,Latitude,Longitude,Location
0,186,Ogden Ave & Race Ave,15,15,In Service,41.891795,-87.658751,"(41.891795, -87.658751)"
1,184,State St & 35th St,19,19,In Service,41.831036,-87.626798,"(41.8310363140161, -87.62679755687714)"
2,176,Clark St & Elm St,39,39,In Service,41.902973,-87.631280,"(41.902973, -87.63128)"
3,648,Carpenter St & 63rd St,7,7,In Service,41.779870,-87.650919,"(41.77987, -87.650919)"
4,658,Leavitt St & Division St,15,15,In Service,41.902997,-87.683825,"(41.902997, -87.683825)"
5,22,May St & Taylor St,15,15,In Service,41.869482,-87.655486,"(41.8694821, -87.6554864)"
6,1563698701206292480,Lamon Ave & Belmont Ave,9,9,In Service,41.939011,-87.749283,"(41.9390108, -87.7492834)"
7,643,Smith Park,15,15,In Service,41.892048,-87.689397,"(41.892048, -87.689397)"
8,640,Bernard St & Elston Ave,11,11,In Service,41.949923,-87.713949,"(41.949923, -87.713949)"
9,217,Elizabeth (May) St & Fulton St,15,15,In Service,41.886616,-87.658040,"(41.886616486027656, -87.6580399274826)"